* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background: #fff;
  /* padding: 10%; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 10px;
}
#root {
  height: 100%;
  width: 100%;
}
